{
  "extends": "@antfu",
  "rules": {
    "curly": "warn",
    "brace-style": "warn",
    "comma-dangle": "warn",
    "@typescript-eslint/brace-style": "warn",
    "@typescript-eslint/comma-dangle": "warn"
  }
}
